@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(./fonts/Nunito_400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(./fonts/Nunito_700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}    

:root {
  --red-300: #f55341;
  --red-transperent: rgba(255,87,68,.15);
  --border: 5px;
  --main-input-width: 30em;
  --main-input-padding: 0.75em;
}

html[data-theme='light'] {
  --main-background: white;
  --main-text-color: black;
  --main-input-background: white;
  --main-border-color: #c3c6c8;
  --main-url-bg-color: transperent;
}

html[data-theme='dark'] {
  --main-background: #1C1E2B;
  --main-text-color: white;
  --main-input-background: rgb(53, 56, 75);
  --main-border-color: rgb(56, 59, 77);
  --main-url-bg-color: #d1d3d50f;
}

html[data-theme='light'] #shorten-url {
  border-radius: 0;
  border-bottom: 1px solid var(--main-border-color);
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: var(--main-background);
  color: var(--main-text-color);
}

.main-container {
  display: grid;
  grid-template-rows: 25em auto;
  grid-template-columns: 80%;
  justify-content: center;
  min-height: 100vh;
}

.search-container {
  position: relative;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searched-items-container {
  grid-row: 2;
}

#search-list {
  list-style-type: none;
  padding: 0;
}

#shorten-url {
  width: 21.1em;
  margin: 0;
  margin-top: 2em;
  padding: 0.5em 0;
  text-align: center;
  border-radius: var(--border);
  background-color: var(--main-url-bg-color);
}

#shorten-url:empty {
  height: 2em;
  background-color: transparent;
  border: 0 !important;
}

#service-input {
  position: absolute;
  border: 0;
  background-color: transparent;
  color: transparent;
}

.search-list-item {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5em 0 0.3em;
  border-bottom: 1px solid var(--main-border-color);
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.search-list-item:hover {
  transform: scale(1.1);
  transition: all ease-in 0.2s;
}

#input-errors {
  position: absolute;
  color: var(--red-300);
  bottom: 10em;
  padding: 0.3em 0.5em;
  background-color: var(--red-transperent);
  border-radius: var(--border);
}

#input-errors:empty {
  display: none;
}

#parser-input {
  width: var(--main-input-width);
  padding: var(--main-input-padding);
  margin-top: 2em;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #c3c6c8;
  border-radius: var(--border);
  background-color: var(--main-input-background);
  color: var(--main-text-color);

  -webkit-box-shadow: 0px 5px 25px -11px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 5px 25px -11px rgba(0,0,0,0.38);
  box-shadow: 0px 5px 25px -11px rgba(0,0,0,0.38);
}

#parser-input:focus {
  border-color: blue;
}

.toggle-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 5em;
  right: 3em;
}

.toggle-label {
  margin: 0.1em;
  padding-left: 0.7em;
}

.box {
  user-select: none;
}

.toggle {
  position: relative;
  display: inline-block;
  margin-left: 1em;
  width: 32px;
  height: 18px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.checkbox-input {
  appearance: none;
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.checkbox-input ~ .toggle {
  background: black;
}

.checkbox-input ~ .toggle .toggle-button {
  background: white;
}

.checkbox-input:checked ~ .toggle .toggle-button {
  transform: translateX(14px);
}

.checkbox-input:checked ~ .toggle {
  background: white;
}

.checkbox-input:checked ~ .toggle .toggle-button {
  background: black;
}

